<!doctype html>
<html>
    <head>
    <title>Git Notifier</title>
    <style>
        body, html {
            font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #fdfdfd;
        }

        .item {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            margin: 15px;
        }

        .item > .image-container {
            margin-right: 15px;
        }

        .item > .card {
            flex-grow: 1;
        }

        .card {
            padding: 15px;
            background-color: #fff;
            border-radius: 3px;
        }

        .shadow {
            box-shadow: 2px 2px 5px 0 #ccc;
        }

        .column:first-child {
            width: 1%;
            white-space: nowrap;
        }

        .row-image {
            width: 75px;
            height: auto;
            border-radius: 50%;
        }

        .open-link {
            font-size: 75%;
        }

        pre {
            background-color: #f9f9f9;
            padding: 10px;
            margin-bottom: 0;
        }

        blockquote {
            background: #f9f9f9;
            border-left: 10px solid #ccc;
            margin: 10px 0;
            padding: 10px;
            quotes: "\201C""\201D""\2018""\2019";
        }

        blockquote p {
            display: inline;
        }

    </style>
    </head>
    <body>
        <div id="messages"></div>
    </body>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.min.js"></script>
    <script id="entry-template" type="text/x-handlebars-template">
        <div class="item">
            <div class="image-container">
                <img src="{{ image }}" class="row-image shadow" />
            </div>
            <div class="card shadow">
                <div>{{{ html }}}</div>
                {{#if url}}
                <div><a href="{{url}}" target="_blank" class="open-link">Open Link</a></div>
                {{/if}}
            </div>
        </div>
    </script>

    <script src="/socket.io/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script type="text/javascript">
        function requestNotificationPermission() {
            if (Notification.permission !== "granted") {
                Notification.requestPermission(function (permission) {
                    // If the user accepts, let's create a notification
                    if (permission !== "granted") {
                        requestNotificationPermission();
                    }
                });
            }
        }

        requestNotificationPermission();

        var rowTemplate = Handlebars.compile($("#entry-template").html());

        var socket = io();
        socket.on('notification', function(data){
            $('#messages').append(rowTemplate(data));
            var notification = new Notification(data.title, { 
                'body': data.message,
                'icon': data.image 
            });
            notification.addEventListener('click', function() {
                window.open(data.url, '_blank');
            });
        });
    </script>

    
</html>